<%-include("header"); -%> 

    <div class="auth-box">
        <% include ./partials/alerts %>
        <div class="flex-links">
            <h2><a href="http://localhost:5000/register">Register</a></h2>
            <h2><a href="http://localhost:5000/login">Login</a></h2>
        </div>
        
        
    </div>
    

<%-include("footer"); -%> 